<div class="content-pane">
  <h1>Practical Composites Inc.</h1>
  <br />
  <br />
  <h3>Composites Calculator</h3>
  <br />
  <br />
  <p>
    This calculator is an attempt to put advanced laminated composite
    calculations and design software into a simple single page app (SPA) made using
    only vanilla Javascript.
  </p>
  <br>
  <br>
  <footer>
    <span class="sign-off">
      Created by:
      <a href="mailto:practicalcomposites@gmail.com" target="_blank">Stephen Fitzgerald</a>.
    </span>
  </footer>
</div>
