<div id="bc-div" style="margin:5px">
  
  <h1>Barrel Compression Laminate Study</h1>
  <p>by S. Fitzgerald, {{date}}</p>
  
  <h2 style="margin:15px 1px 15px 1px">Sub-Laminates:</h2>
  
  <p>"4" = 150 gsm Carbon @ [+30/-30 / +30/-30 / +30/-30 / +30/-30]</p>
  <p>"4L" = 150 gsm Carbon @ [+30/-30(75gsm) / +30/-30 / +30/-30 / +30/-30]</p>
  <p>"4z" = 150 gsm Carbon @ [+30/-30 / +30/-30 / 0(75gsm) / +30/-30 / +30/-30]</p>
  <p>"4gz" = 150 gsm Carbon @ [+30/-30 / +30/-30 / 0(140gsm Glass) / +30/-30 / +30/-30]</p>
  <p>"4f" = 150 gsm Carbon @ [+30/-30 / +45/-45 / +45/-45 / +30/-30]</p>
  <p>"5" = 150 gsm Carbon @ [+30/-30 / +30/-30 / +30/-30 / +30/-30 / +30/-30]</p>
  <p>"5L" = 150 gsm Carbon @ [+30/-30(75gsm) / +30/-30 / +30/-30 / +30/-30 / +30/-30]</p>
  <p>"5f" = 150 gsm Carbon @ [+30/-30 / +45/-45 / +30/-30 / +45/-45 / +30/-30]</p>
  
  <p style="margin:15px 0px">
    A series of similar laminates is developed to create small increments in predicted barrel compression.
    Note that barrel compression predictions are not always accurate, so these should be considered as a ranking
    or an order of magnitude indicator for a laminate change, as opposed to actual expected results.
  </p>

  <h2 style="margin:15px 0px">Predicted barrel compressions:</h2>
</div>