 <!-- 
    Big thanks to 

    Kelly Milligan for awesome article about the new MeshPhysicalMaterial features
    https://tympanus.net/codrops/2021/10/27/creating-the-effect-of-transparent-glass-and-plastic-in-three-js/

    and @quentinver for the background pattern
    https://codepen.io/quentinver/pen/KBKQbd

    -->

    <style>
        body {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        canvas {
            display: block;
        }
    </style>

    <div class="container"></div>