<link rel="stylesheet" href="../index.css" />

<div class="main">
<style>
    input {
        width: 6em;
    }
</style>

<h1>Material Entry UI</h1>

<form id="materialForm">

    <label for="mat-name">Name:</label>
    <input type="text" id="mat-name" style="width: 22em">
    <br>

    <label for="mat-description">Description:</label>
    <input type="text" size="80" id="mat-description" style="width: 20em">
    <br>

    <label>Material Type: </label>
    <label id="mat-type" style="width: 20em"> </label>
    <br> <br>

    <label for="mat-density">Density:</label>
    <input type="text" class="num" id="mat-density" value="${test.density}">
    <label class="units-density">kg/cu.m</label>

    <br> <br>

    <label for="mat-E1">E1:</label>
    <input type="text" class="num" id="mat-E1">
    <label class="units-modulus">Pa</label>

    <label for="mat-PR12">PR12:</label>
    <input type="text" class="num" id="mat-PR12">

    <label for="mat-G12">G12:</label>
    <input type="text" class="num" id="mat-G12">
    <label class="units-modulus">Pa</label>

    <br>

    <label for="mat-E2">E2:</label>
    <input type="text" class="num" id="mat-E2">
    <label class="units-modulus">Pa</label>

    <label for="mat-PR13">PR13:</label>
    <input type="text" class="num" id="mat-PR13">

    <label for="mat-G13">G13:</label>
    <input type="text" class="num" id="mat-G13">
    <label class="units-modulus">Pa</label>

    <br>

    <label for="mat-E3">E3:</label>
    <input type="text" class="num" id="mat-E3">
    <label class="units-modulus">Pa</label>

    <label for="mat-PR23">PR23:</label>
    <input type="text" class="num" id="mat-PR23">

    <label for="mat-G23">G23:</label>
    <input type="text" class="num" id="mat-G23">
    <label class="units-modulus">Pa</label>

    <br>
    <div id="mat-composite">
        <br>
        <label for="mat-fiber">Fiber:</label>
        <input type="text" id="mat-fiber">

        <label for="mat-resin">Resin:</label>
        <input type="text" id="mat-resin">

        <label for="mat-vf">Vf:</label>
        <input type="text" class="num" id="mat-vf">
    </div>
    <br>
    <div id="div-btns" width="32em">
        <button id="btn-cancel" class="btn-cancel" display="inline-block">Cancel</button>
        <button id="btn-reset" class="btn-reset" display="inline-block">Reset</button>
        <button id="btn-save" class="btn-save" display="inline-block">Save</button>
    </div>

    <label id="error-message"></label>
</form>
</div>